
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 1080px;
    margin-left: 100px;
    margin-right: 100px;
}

.like-btn {
    background-color: #ffd966;
    padding: 5px 10px;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    font-size: 1.2rem;
    margin-left: 20px;
    cursor: pointer;
}

.nav {
    margin-left: 200px;
    margin-right: 200px;
    width: 860px;
    height: 50px;
    background-color: black;
    color: white;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.row{
    display:flex;
    margin-right: 100px;
    margin-left: 100px;
}

.col-iz{
    padding: 10px;
    margin: 10px;
    flex: 1;
}

.col-der{
    padding: 10px;
    margin: 10px;
    flex: 2;
}

.tarjeta1, .tarjeta2 {
    border: 3px solid black;
    padding: 5px 20px;
}

.tarjeta1{
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta2 {
    margin-bottom: 10px;
}

img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.likes {
    display:flex;
    align-items: center;
}

span {
    margin-left: 100px;
}